body {
  /* spacing */
  margin: 0;
  height: 100vh;
  
  /* coloring */
  background: black;
  
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  /* sizing */
  width: 200px;
  height: 200px;
  
  /* coloring */
  background: white;
  background-image: url('images/face-1.png');
  background-size: cover;
  background-position: center;
  
  /* styling */
  border-radius: 50%;
  
  /* animation */
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
